/*Instructions Page*/
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container #introduction{
	padding: 20px;
}
.container #introduction h1{
	text-align: center;
}

#steps{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.step {
	display: flex;
	display: column;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 300px;
}

.container .button-fab{
	height: 100px;
	width: 100px;
	vertical-align: middle;
	background-color: #1E88E5 !important;
	padding-top: 20px;
	margin-top: 100px;
}

/*Basics Page*/
.active_step {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid #FFEBEE;
	margin-top: 10px;
	display: flex;
	flex-direction:column;
	justify-content: center;
}

.active_step h1{
  margin-top: 92px;
  margin-left: -9px;
}
/*Centering Toolbar*/
.md-toolbar-tools {
    /* align-content: center; */
    text-align: center;
    display: flex;
    justify-content: center;
}
/*
Coloring Toolbar*/
md-toolbar.toolbar_basics {
   /* background-color: #FFEBEE;*/
    border: 2px solid black;
}
#basics{
	padding: 20px;
}

#basics md-content{
	border: 2px solid #ECEFF1;
}

#theArt{
	padding: 20px;
}

#theArt md-content{
	border: 2px solid #ECEFF1;
	
}

md-toolbar.toolbar_theArt {
    border: 2px solid black;
}

#properties {
	padding: 20px;
}

#properties md-content{
	border: 2px solid #ECEFF1;

}

md-toolbar.toolbar_properties {
    border: 2px solid black;
}






/*TODO: Change hue of helper text in input fields*/





