<div class="container" >
</div>

<div id="steps">
	<div class="step">
			<md-button class="md-fab md-raised" id="saveBasicsButton" ui-sref="signupArtist_1" >
			1
	   </md-button>
	</div>
	<div class="step">
					<md-button class="md-fab md-raised" id="saveBasicsButton" ui-sref="signupArtist_2" style="background-color: #E3F2FD">
			2
	   </md-button>
	</div>
	<div class="step">
					<md-button class="md-fab md-raised" id="saveBasicsButton" ui-sref="signupArtist_3">
			3
	   </md-button>
	</div>
</div>



<div id="story" class="maxFormWidth" ng-cloak>
	<md-toolbar class="toolbar_story">
	  <div class="md-toolbar-tools">
	   	<h2 class="md-flex">The Story</h2>
	  </div>
	  <md-button ng-click="openStory = !openStory">Instructions</md-button>
    </md-button>
	</md-toolbar>

	<div class="toggle-content_story" ng-show="openStory">
	Insert Instructions
  </div>
	
		
	<md-content layout-padding>
		<md-input-container class="md-block">
      <label>Tell Your Story.</label>
      <textarea ng-model="story" md-maxlength="500" rows="5" md-select-on-focus></textarea>
    </md-input-container>

	</md-content>

	 <div id="saveStory">
		 <md-button class="md-fab md-raised" id="saveStoryButton" aria-label="FAB" ng-click="vm.registerStory()">
<!-- 	      <md-icon md-svg-icon="enter_black"></md-icon> -->
	      Save
	   </md-button>
	 </div>

</div>

<md-button id="Save" aria-label="FAB" ui-sref="signupArtist_3">Save & Continue</md-button>