.page_container{
	margin-top: 50px;
}

.discovery_hero {
  background: url('../../assets/images/night-skyline-small.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  width: 100%;
  height: 600px;
  z-index: 1;
}

.media_submedia{
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
  z-index: 99;
  color: white;
}

.query_results{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:400px;
  background-color: white;
}

.query_card{
  height: 200px;
  width: 400px;
}



/*Media Queries: Laptops*/

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
/*    change size of hero photo for large screens
*/   .discover_hero {
    height: 400px;
   } 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
     .discover_hero {
    height: 450px;
   } 
   .media_submedia{
    margin-left: 30px;
    margin-right: 30px;
    z-index: 99;
   }
}
